{% extends 'base/base.html' %}

{% block title %} Libro {% endblock %}

{% block content %} 
        <div class="row">

            <div class="col-md-3">
                <p class="lead">Opciones</p>
                <div class="list-group">
                    <a href="{% url 'biblioteca:librosExistentes' %}" class="list-group-item">Existentes</a>
                    <a href="{% url 'biblioteca:insertarLibro' %}" class="list-group-item active">Agregar</a>
                    <a href="{% url 'biblioteca:buscarLibro' %}" class="list-group-item">Buscar</a>
                </div>
            </div>

            <div class="col-md-9">
                <h3>Datos del libro</h3>
                <hr>
                <div class="formulario">
                     <form class="form" role="form" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                          <div class="form-group col-md-8">
                               <div>
                                    <label for="email">Titulo</label>
                                    {{form.titulo}}
                                 </div>

                                <div class="form-group">
                                        <label for="pwd">Editor</label>
                                        {{form.editor}}
                                </div>

                                <div class="form-group">
                                        <label for="pwd">Precio</label>
                                        {{form.precio}}
                                </div>

                                <div class="form-group">
                                    <label for="pwd">Fecha de Publicacion</label>
                                    {{form.fecha_publicacion}}
                                </div>

                                
                                <div class="form-group">
                                        <label for="pwd">Descripcion</label>
                                        {{form.descripcion}}
                                </div>

                                <div class="form-group">
                                        <label for="pwd">Portada</label>
                                        {{form.portada}}
                                </div>

                         </div>
                        <div class="col-md-4">
                                <div class="form-group">
                                    <label for="email">Autor</label>
                                    {{form.autores}}
                                </div>

                        </div>


                         <div class="col-md-6"> <button type="submit" class="btn btn-primary btn-lg">Insertar</button></div>
                         <div class="col-md-6"> <a href="{% url 'biblioteca:librosExistentes' %}" class="btn btn-success btn-lg">Cancelar</a></div>
                    </form>

                </div>
            </div>
        </div>
{% endblock %}